page-icon {
  .icons-page {
    ion-row {
      height: 50%;
      flex-wrap: wrap;
    }

    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 15px 5px;
    }
  }
}
