page-icon {
  .icons-basic-page {
    ion-row {
      height: 100%;
      flex-wrap: wrap;
    }

    ion-col {
      flex: 0 0 20%;
      max-width: 20%;
      text-align: center;
      padding: 10px 5px;
    }
  }
}
